.room-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #111;
    flex-direction: column;

    h1 {
        margin: 20px auto auto;
        color: white;
        border-bottom: 3px solid white;
        cursor: default;
    }

    .tictactoe-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        margin: 20px auto auto;

        .tictactoe-item {
            width: 13vw;
            height: 13vw;
            background-color: #FFF;
            border-radius: 3px;
            border-width: 0;
            cursor: pointer;
            transition: all 0.05s ease-in-out;
            text-align: center;
            font-size: 8vw;
            color: #333;

            &:hover {
                background-color: #EA5F79;
                color: #FFF;
                transition: all 0.05s ease-in-out;
            }
        }
    }
}